<div class="query-header">
    <div class="query-item">
        <span>Quick Query Link:</span>
    </div>
    <div class="query-item">
        <span><a href="<%= request.base_url %>/dashboard/all?fliter=allresolved">All Resolved</a></span>
    </div>
    <div class="query-item">
        <span><a href="<%= request.base_url %>/dashboard/all?fliter=allunresolved">All Unresolved</a></span>
    </div>
      <div class="query-item">
        <span><a href="<%= request.base_url %>/dashboard/all?fliter=allunassigned">All Unassigned</a></span>
    </div>
</div>

<style>
    .query-header{
        margin-bottom:10px;
        height:45px;
        display:flex;
        flex-direction:row;
        align-items:center;
    }
    .query-item{
        margin-right:20px;
    }
    .query-item button{
        float:right;
        height:32px;
        border-radius:4px;
        color:#fff;
        background-color:#28a745;
        border:0px;
        padding:0px 10px;
        background-image:linear-gradient(-180deg, #34d058 0%, #28a745 90%);
    }
</style>